# feedparser is only if you want to scrape arxiv
feedparser
numpy
scipy

# sciki-learn is only for sparse arrays
scikit-learn

# twitter
python-twitter
pytz

# the following are only for serve.py
python-dateutil
flask
flask_limiter
tornado
pymongo

# for analyze.py
pandas
regex
openpyxl

# cannot import name 'check_password_hash' for 1.0.1
werkzeug==0.16.1
